<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/adminlte/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="../static/adminlte/css/AdminLTE.min.css">
		<link rel="stylesheet" type="text/css" href="../static/adminlte/css/skins/_all-skins.min.css">
		<link rel="stylesheet" type="text/css" href="../static/dataTables/jquery.dataTables.min.css">
		<script type="application/javascript" src="../static/jquery/jquery-3.5.1.min.js"></script>
		<script type="application/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
		<script type="application/javascript" src="../static/adminlte/js/adminlte.min.js"></script>
		<script type="application/javascript" src="../static/dataTables/jquery.dataTables.min.js"></script>
		<script type="application/javascript">
			$(function () {
				$("#myTable").DataTable({
					// 关闭本地分页
					paging: false,
					// 关闭搜索框
					searching: false,
					// 关闭排序
					ordering: false,
					// 显示语言
					language: {
						"sProcessing": "处理中...",
						"sLengthMenu": "显示 _MENU_ 项结果",
						"sZeroRecords": "没有匹配结果",
						"sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
						"sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
						"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
						"sInfoPostFix": "",
						"sSearch": "搜索:",
						"sUrl": "",
						"sEmptyTable": "表中数据为空",
						"sLoadingRecords": "载入中...",
						"sInfoThousands": ",",
						"oPaginate": {
							"sFirst": "首页",
							"sPrevious": "上页",
							"sNext": "下页",
							"sLast": "末页"
						},
						"oAria": {
							"sSortAscending": ": 以升序排列此列",
							"sSortDescending": ": 以降序排列此列"
						}
					},
					// 设定表格的数据是通过异步方式获得
					serverSide: true,
					// 获取表格地址
					ajax: {
						// 请求地址
						url: "/user/page",
						// 请求方式
						type: "post",
						// 设定在请求列表的时候，所需要携带的请求参数
						data: function(d) {
							// 获得对应的设置信息
							var tableSetings = $("#myTable").dataTable().fnSettings();
							// 删除多余请求参数
							for(var key in d) {
								if(key.indexOf("columns")==0||key.indexOf("order")==0||key.indexOf("search")==0){
									//以columns开头的参数删除
									delete d[key];
								}
							}
							// 扩展请求时候的数据，重点在于pageNum和pageSize
							var params = {
								// 获得表格对象后，
								// 系统当前页码_iDisplayStart，默认从0开始
								"pageNum": tableSetings._iDisplayStart + 1,
								// 每页显示数量
								"pageSize": tableSetings._iDisplayLength
							}
							// 将新增的查询数据扩展到请求参数上
							$.extend(d, params); //给d扩展参数
						},
						// 设定回传的数据格式为JSON
						dataType: "json",
						// 过滤数据
						dataFilter: function(data) {
							data = JSON.parse(data);
							var returnData = {};
							returnData.draw = data.data.draw;
							returnData.recordsTotal = data.data.totalPage;
							returnData.recordsFiltered = data.data.totalPage;
							returnData.data = data.data.list;
							return JSON.stringify(returnData);
						}
					},
					// 为表格的每一个字段设定具体的值
					columnDefs: [
						{
							targets: 0,
							data: function (row, type, val, meta) {
								// 在序号位置
								var startIndex = meta.settings._iDisplayStart;
								return startIndex + meta.row + 1;
							}
						},
						{
							targets: 1,
							data: function (row, type, val, meta) {
								// 在姓名位置，row就代表JSON中list所对应的一个位置的数据对象
								return row.name;
							}
						},
						{
							targets: 2,
							data: function (row, type, val, meta) {
								// 在手机号码位置，row就代表JSON中list所对应的一个位置的数据对象
								return row.cellphone;
							}
						},
						{
							targets: 3,
							data: function (row, type, val, meta) {
								// 在用户身份位置，row就代表JSON中list所对应的一个位置的数据对象
								return row.idCard;
							}
						},
						{
							targets: 4,
							data: function (row, type, val, meta) {
								// 在状态位置，row就代表JSON中list所对应的一个位置的数据对象
								return row.email;
							}
						},
						{
							targets: 5,
							data: function (row, type, val, meta) {
								var detail = "<a href='/ums/view/user_detail.html?id=" + row.id + "'class='btn btn-success btn-xs'><i class='fa fa-info'></i>&nbsp;详情</a>";
								var update = "<a href='#' class='btn btn-warning btn-xs'><i class='fa fa-wrench'></i>&nbsp;修改</a>";
								return detail + "&nbsp;" + update;
							}
						}
					]
				});
			});

		</script>
	</head>
	<body>
		<div class="container">
			<div class="row" style="margin: 5px">
				<div class="col-md-12">
					<h1>
						<i class="fa fa-users"></i>&nbsp;
						用户管理
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin: 10px">
					<a href="/ums/view/user_save.html" class="btn btn-success btn-sm">
						<i class="fa fa-plus"></i>&nbsp;
						新增用户信息
					</a>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table id="myTable" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>序号</th>
									<th>姓名</th>
									<th>手机号码</th>
									<th>身份证号码</th>
									<th>电子邮件</th>
									<th>操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>